{
  "presets": [
    "flow",
    [
      "env",
      {
        "targets": {
          "browsers": ["last 4 versions", "ie >= 7"]
        }
      }
    ],
    "react",
    "stage-0"
  ],
  "env": {
    "development": {
      "plugins": [
        [
          "babel-plugin-webpack-alias",
          {
            "config": "./webpack.config.js"
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        [
          "babel-plugin-webpack-alias",
          {
            "config": "./webpack.config.js",
            "findConfig": true
          }
        ]
      ]
    }
  }
}
